@model Logic.Cliente
@{
    ViewBag.Title = "Register";
    Layout = "RegisterLayout.cshtml";
}

<h2>Registro</h2>
<hr />

<div class="form-signin">
    <div class="form-control">
        @using (Html.BeginForm("Register", "user", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            <center class="loginMargen">
                <table style="width:60%">
                    <tbody>
                        <tr>
                            <td>
                                <center>
                                    @Html.LabelFor(m => m.ID, new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.ID, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ID, "", new { @class = "text-danger" })
                                    <br />
                                </center>
                            </td>
                            <td></td>
                            <td>
                                <center>
                                    @Html.LabelFor(m => m.Nombre, new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
                                    <br />
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    @Html.LabelFor(m => m.Apellido, new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Apellido, "", new { @class = "text-danger" })
                                    <br />
                                </center>
                            </td>
                            <td></td>
                            <td>
                                <center>
                                    @Html.LabelFor(m => m.Direccion, new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.Direccion, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Direccion, "", new { @class = "text-danger" })
                                    <br />
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    <br />
                                </center>
                            </td>
                            <td></td>
                            <td>
                                <center>
                                    @Html.Label("Membresia", null, new { @class = "form-label" })
                                    @Html.DropDownList("Membresia.EsTotal", ViewBag.Membresia as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                    <br />
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    @Html.Label("Fecha desde", null, new { @class = "form-label" })
                                    @Html.TextBox("Membresia.Desde", DateTime.Today.ToShortDateString(), new { @class = "form-control datepicker", disabled="disabled"})
                                    @Html.ValidationMessage("Membresia.Desde", new { @class = "text-danger" })
                                    <br />
                                </center>
                            </td>
                            <td></td>
                            <td>
                                <center>
                                    @Html.Label("Fecha hasta", null, new { @class = "form-label" })
                                    @Html.TextBox("Membresia.Hasta", null, new { @class = "form-control datepicker", placeholder = "Ingresa la fecha..." })
                                    @Html.ValidationMessage("Membresia.Hasta", new { @class = "text-danger" })
                                    <br />
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    @Html.LabelFor(m => m.Contraseña, new { @class = "form-label" })
                                    @Html.PasswordFor(m => m.Contraseña, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Contraseña, "", new { @class = "text-danger" })
                                    <br />
                                </center>
                            </td>
                            <td></td>
                            <td>
                                <center>
                                    @Html.Label("Confirmar contraseña", null, new { @class = "form-label" })
                                    @Html.Password("confirmarContra", null, new { @class = "form-control" })
                                    <br />
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    @Html.Label("Grupo de trabajo", null, new { @class = "form-label" })
                                    @Html.DropDownList("GrupoTrabajo", ViewBag.Grupos as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                    <br />
                                </center>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <input type="submit" value="Registrarse" onclick="habilitarFecha();" class="btn btn-primary btn-lg btn-block" />
            </center>
        }

    </div>
</div>

<script>
    $(function () {
        $('.datepicker').datepicker({ dateFormat: 'dd/mm/yy', changeYear: true });
    });

    function habilitarFecha()
    {
        $('#Membresia_Desde').prop("disabled", false);
    }
</script>